@import '@influxdata/clockface/dist/variables.scss';

$notebook-results-header: 47px;
$notebook-results-small: 200px;
$notebook-results-medium: 400px;
$notebook-results-large: 600px;

$notebook-results--drag-handle: 30px;

.notebook-panel--body .flux-editor--monaco {
  position: relative;

  .react-monaco-editor-container {
    min-height: 100px;
  }
}

.notebook-raw-data {
  margin-top: $cf-marg-a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  border: $cf-border solid $g2-kevlar;
  background-color: $g2-kevlar;
  border-radius: $cf-radius 0 0 $cf-radius;
}

.notebook-raw-data__small {
  height: $notebook-results-small;
}

.notebook-raw-data__medium {
  height: $notebook-results-medium;
}

.notebook-raw-data__large {
  height: $notebook-results-large;
}

.notebook-raw-data--header {
  color: $g8-storm;
  width: $notebook-results-header;
  flex: 0 0 $notebook-results-header;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $cf-marg-b 0;
}

.notebook-raw-data--vis-toggle {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.5em;
  transition: color 0.25s ease;
  width: $notebook-results--drag-handle;
  height: $notebook-results--drag-handle;
  position: relative;

  &:before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.notebook-raw-data--header__visible .notebook-raw-data--vis-toggle,
.notebook-raw-data--header__hidden .notebook-raw-data--vis-toggle {
  &:hover {
    cursor: pointer;
  }
}

.notebook-raw-data--header__visible .notebook-raw-data--vis-toggle {
  color: $c-pool;

  &:hover {
    color: $c-laser;
  }
}

.notebook-raw-data--header__hidden .notebook-raw-data--vis-toggle {
  color: $g8-storm;

  &:hover {
    color: $g13-mist;
  }
}

.notebook-raw-data--body,
.notebook-raw-data--empty {
  position: relative;
  flex: 1 0 0;
}

.notebook-raw-data--body {
  display: flex;
  align-items: center;
}

.notebook-raw-data--body__visible {
  display: block;
}

.notebook-raw-data--empty {
  color: $g8-storm;
  user-select: none;
  padding: $cf-marg-b 0;
  font-weight: $cf-font-weight--medium;
  height: 30px;
}

.notebook-raw-data--drag-handle {
  width: $notebook-results--drag-handle;
  height: $notebook-results--drag-handle;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  &:hover {
    cursor: ns-resize;
  }

  .notebook-raw-data--header__hidden & {
    display: none;
  }
}

// Hacky way to ensure the cursor is consistent during drag no matter
// where the cursor is
body.notebook-results--dragging,
body.notebook-results--dragging:hover {
  cursor: ns-resize !important;
  user-select: none !important;
}

.notebook-raw-data--drag-icon {
  width: $notebook-results--drag-handle / 2;
  height: $cf-border;
  background-color: $g5-pepper;
  transition: background-color 0.25s ease;
  margin: $cf-border 0;
}

.notebook-raw-data--drag-handle:hover .notebook-raw-data--drag-icon {
  background-color: $g13-mist;
}

.notebook-raw-data--drag-handle__dragging .notebook-raw-data--drag-icon {
  background-color: $c-pool;
}
